* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #797979; }

section {
  padding: 7em 15em; }

main, footer {
  padding: 2em 15em; }

main {
  height: 100vh;
  background-image: url("../slike/background.jpg");
  background-size: cover; }

header {
  background-color: white;
  padding: 1em; }
  header:before, header:after {
    content: "";
    display: table; }
  header:after {
    clear: both; }

.logo {
  font-size: 2em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  float: left; }
  .logo span {
    color: #ff3720; }

nav {
  float: right; }
  nav ul {
    margin-top: 1em;
    list-style: none; }
    nav ul li {
      display: inline-block;
      margin-left: 1em; }
      nav ul li a {
        text-decoration: none;
        text-transform: uppercase; }
        nav ul li a:hover {
          color: black; }

h1, h3 {
  color: white;
  text-align: center;
  font-weight: normal; }

h1 {
  font-size: 3em;
  border-bottom: 1px solid #ff3720;
  width: 60%;
  margin: 20% auto 0; }

h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2em; }

#catalog {
  background-color: #f0f0f0; }
  #catalog:before, #catalog:after {
    content: "";
    display: table; }
  #catalog:after {
    clear: both; }
  #catalog .column {
    float: left;
    width: 25%;
    text-align: center; }
    #catalog .column img {
      width: 90%; }
    #catalog .column p {
      margin: 1em 0em; }

.button {
  background-color: #ff3720;
  padding: 0.5em 2em;
  color: white;
  text-decoration: none;
  text-transform: uppercase; }
  .button:hover {
    background-color: black; }

#pricing {
  text-align: center; }
  #pricing a {
    display: none; }
  #pricing table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse; }
    #pricing table td, #pricing table th {
      padding: 1em;
      text-align: center; }
    #pricing table thead {
      background-color: #ff3720; }
      #pricing table thead th {
        color: white; }
        #pricing table thead th:first-child {
          background-color: #e42b15; }
      #pricing table thead tbody tr {
        border-bottom: 1px solid #797979; }
      #pricing table thead tbody td:first-child {
        background-color: #f0f0f0; }

footer {
  background-color: black; }
  footer:before, footer:after {
    content: "";
    display: table; }
  footer:after {
    clear: both; }
  footer .logo {
    font-size: 1.5em;
    border-bottom: 1px solid #ff3720;
    width: 100%; }
  footer address, footer .map {
    margin: 1em; }
  footer address {
    float: left; }
  footer .map {
    float: right; }

@media screen and (max-width: 1200px) {
  main {
    padding: 2em 1em; }
    main h1 {
      width: 100%; }

  section {
    padding: 3.5em 7.5em; }

  footer {
    padding: 2em 7.5em;
    text-align: center; }
    footer address, footer .map {
      float: none; }

  #catalog .column {
    width: 50%;
    margin-bottom: 2em; } }
@media screen and (max-width: 750px) {
  main {
    background-image: none;
    background-color: black;
    height: auto;
    padding: 2em 0; }
    main h1 {
      margin-top: 2em; }
    main nav {
      width: 100%; }
      main nav ul li {
        width: 100%;
        text-align: center;
        margin: 0.5em 0; }

  #catalog .column {
    width: 100%; }
  #catalog #pricing table {
    display: none; }
  #catalog #pricing a {
    display: inline-block; } }

/*# sourceMappingURL=style.css.map */
